<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DREAM JOB SEEKER | HOME</title>
    <meta charset="UTF-8">
        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <!-- <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-32x32.png">
        <!-- bootstrap css cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- css stylesheet -->
        <link rel="stylesheet" href="css/style.css">
        <!-- font styles cdn -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap" rel="stylesheet">
</head>
<body>
        <!-- bootstrap navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="main-logo-img mt-3" href="#"><img src="/static/img/smartinternz.png" alt="dream job seeker" height="50px" width="180px">
                <!-- <a class="navbar-brand" href="index.html">JobPortal</a> -->
              </a>
              
              <div class="row donate-sponsor">
                <a type="button" class="btn btn-success mr-1" id="donate" href="login">LOGIN</a>
                <a type="button" class="btn btn-warning mr-1" id="sponsor" href="register">REGISTER</a>
                <a type="button" class="btn btn-primary mr-1" id="sponsor" href="contact.html">AVAILABLE JOBS</a>
              </div>
            </div>
          </nav>
          <!-- navbar ends -->

        <!-- what we focus on -->
        <section class="our-focus">
            <div class="container">
              <h2 class="text-center mt-3">ABOUT US</h2>
              <div class="row ml-3 mt-3">
                <div class="col-lg-3 mr-5" id="focus-first">
                  <div class="card" style="width: 19rem;">
                    <!-- <img src="assets/img/home kids.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">MISSION</h5>
                      <p class="card-text">Our mission is to enhance client and candidate satisfaction by increasing the quality of sourcing, boost better recruiting practices that are focused on long-term hires and building employer and employee relationships. We strive to improve the overall process of recruitment online and offline. We put our efforts to increase customer satisfaction, to enhance the interaction process between clients and candidates, and streamline the process for better efficient results, which will result in cost and time saving.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 mr-5" id="focus-second">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/friendship day.JPG" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">VISION</h5>
                      <p class="card-text">Our main objective is to bridge the existing gaps between prevailing industry standards and what the academics offer to the graduates while passing out of university. Jobportal offers suitable skill deployment and training to the young talent before on boarding their first job.

Our skill development programs are designed considering the present expectations in the industry. </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 ml-5" id="focus-third">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">OBJECTIVE</h5>
                      <p class="card-text">Well directed career guidance programs for educational institutions
Appropriate certification courses that suit the industry need
Train the trainers; expanded awareness about the current industry standards
Liaise with corporates to offer niche internships
Establish technology development centers in colleges
Specialised incubation centers in collaboration with corporates</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- focus section ends -->

        <!-- footer starts -->
          <!-- Site footer -->
          <footer class="site-footer">
            <div class="container mt-5">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <h3>KNOW MORE ABOUT THE TEAM</h3>
                  <p class="text-justify">
                  We are a handful of dedicated engineering students, trying our best to create a Job and Skill recommender application which is to be submitted to IBM.
                  <li>
Our Team:
<ul>Rajeswari R </ul>
<ul>Arunjothi V</ul>
<ul>Roshini S</ul>
</li>
 <h4>CONTACT DETAILS</h4>
 <ul class="footer-links">
   <li><a href="mailto:test@gmail.com">dreamjobseeker@gmail.com</a></li>
   <li><a href="">+91 934554345</a></li>
 </ul>
                  </p>
                </div>
                
              </div>
            <hr>
            
                
              </div>
            </div>
      </footer>
      <script> 
      window.watsonAssistantChatOptions = {
      integrationID: "8b42d2c8-53f3-4033-87b7-aa71affaa1cc", // The ID of this integration.
      region: "us-south", // The region your integration is hosted in.
      serviceInstanceID: "6af5a2fe-de68-40d2-b466-860f5fef54e8", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
      };
    setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
       

          </body>
</html>
